[flake8]
max-line-length = 88
ban-relative-imports = true
docstring-convention = google
extend-ignore =
    # Comply with black
    E203,
    # No docstrings required for modules and packages
    D100, D104,
per-file-ignores =
    # No docstrings required for tests
    tests/*: D1
